# Ignore node_modules directory
node_modules
**/node_modules

# Ignore build output directory
dist-ssr

# Ignore git directory
.git
**/.git

# Data and backups
data
backups
**/backups
**/uploads
*.db*
*.log
