version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      # Monta o arquivo do banco de dados para garantir que os dados sejam persistidos
      - ./backend/belafarma.db:/usr/src/app/belafarma.db
    restart: unless-stopped
    # A porta 3001 não precisa ser exposta ao host, 
    # pois o Nginx se comunicará com ele pela rede interna do Docker.

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
      args:
        - VITE_API_URL=http://backend:3001
    ports:
      - "80:80" # Expõe a porta 80 do Nginx para o mundo exterior
    depends_on:
      - backend # Garante que o backend inicie antes do frontend
    restart: unless-stopped